@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
   
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/Students/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
    });
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="StuName" name="StuName" type="text" class="form-control required" placeholder="请输入姓名" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">性别</th>
                <td class="formValue">
                    <input id="StuSex" name="StuSex" type="text" class="form-control required" placeholder="请输入性别" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">年龄</th>
                <td class="formValue">
                    <input id="Years" name="Years" type="text" class="form-control required" placeholder="请输入年龄" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">年级</th>
                <td class="formValue">
                    <input id="Grade" name="Grade" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    地址
                </th>
                <td class="formValue">
                    <input id="Address" name="Address" type="text" class="form-control required" />
                </td>
            </tr>            
            <tr>
                <th class="formTitle">创建人员</th>
                <td class="formValue">
                    <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">创建时间</th>
                <td class="formValue">
                    <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">修改人员</th>
                <td class="formValue">
                    <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">修改时间</th>
                <td class="formValue">
                    <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</form>
